.footer
{
  padding: 10px;
  margin: 10px 20px;
  font-size: 0.8em;
  text-align: center;
  border-top: 1px solid #eee;
}

#logo
{
  padding: 10px 20px;
  font-size: 200%;
}

.portlet
{
  margin: 10px 0px;
}

.portlet-decoration
{
  padding: 3px 8px;
  background: #f57900;
  border-radius: 5px 5px 0px 0px;
}

.portlet-title
{
  font-size: 12px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  color: #a40000;
}

.portlet-content
{
  font-size:0.9em;
  margin: 0 0 15px 0;
  padding: 5px 8px;
  background: #fcaf3e;
  border-radius: 0px 0px 5px 5px;
}

.portlet-content ul
{
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin: 0;
  padding: 0;
}

.portlet-content li
{
  padding: 2px 0 4px 0px;
}

