.recipe-formcontent .remove-button:hover
{
  cursor:pointer;
}

table.recipe-formcontent .add-ingredient-dialog
{
  border-collapse: collapse;
}

table.recipe-formcontent .add-ingredient-dialog,
td.recipe-formcontent .add-ingredient-dialog
{
  border: 1px solid black;
}