div.recipe-formcontent
{
  margin-bottom: 40px;
}

.recipe-formcontent .remove-button
{
  vertical-align: middle;
}

.recipe-formcontent .remove-button:hover
{
  cursor:pointer;
}

.recipe-view #time-table
{
  width: auto;
}


.recipe-view #info-box
{
  background: #fcaf3e;
  border-radius: 5px;
  border-color: #a40000;
  border-style: solid;
  border-width: 3px;
}