.recipe-formcontent .remove-button:hover
{
  cursor:pointer;
}

table.recipe-formcontent .add-ingredient-dialog
{
  border-collapse: collapse;
}

table.recipe-formcontent .add-ingredient-dialog,
td.recipe-formcontent .add-ingredient-dialog
{
  border: 1px solid black;
}

.recipe-view #time-table
{
  width: auto;
}


.recipe-view #info-box
{
  background: #fcaf3e;
  border-radius: 5px;
  border-color: #a40000;
  border-style: solid;
  border-width: 3px;
}